<h1>Membership</h1>

<p>Join our club for exclusive advantages !</p>
<h>Visit any of our clubs if you wish to proceed, we'd be more than glad to welcome you :)</h>

<h1>Membership options</h1>
<% @memberships.each do |membership| %>
  <div>
    <h2><%= membership.title %></h2>
    <%= simple_format membership.description %>
    <%= membership.price %>
  </div>
  
<% end %>