<% provide(:title, "Admin Panel") %>


<ul>
  <li><%= link_to 'Manage Images', admin_images_path %></li>
  <li><%= link_to 'Manage Pages', admin_pages_path %></li>
  <li><%= link_to 'Manage Membership', admin_memberships_path %></li>
  <li><%= link_to 'View messages', admin_contact_path %></li>
</ul>